*{
    padding: 0;
    margin: 0;
}
.bandeau{
    height: 70px;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: rgb(226, 212, 18);
}
.pied{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-color: rgb(40, 190, 73);
}


@media screen and (max-widht: 1000px){
    .bandeau, .pied{
        height: 500px;
        width: 70px;
    }

    .contenu{
        width: 300px;
    }
}